<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="https://cinvestav.mx" target="_blank"><img class="u-logo" src="{{ site.baseurl }}/assets/images/cinvestav.png" alt="CINVESTAV" width="100" /></a>
      </div>
      <div class="footer-col">
        <p></p>
        <p><a href="https://www.cinvestav.mx/monterrey" target="_blank">Cinvestav Monterrey</a> <br>
        Vía del Conocimiento 201, 66628 Apodaca NL, México</p>
        <p>© 2026 Moisés Santillán</p>
      </div>
    </div>

  </div>
</footer>
